@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond&display=swap');

:root{
    --bg-dark: rgb(26, 26, 26);
    --font-primary: 'Anton', sans-serif;
    --font-secundary: 'EB Garamond', serif;
}

*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.5rem;
    font-family: var(--font-secundary);
}

.container{
    max-width: 50rem;
    margin: auto;
    width: 80%;
}
.btn{
    display: block;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 1.4rem 1.2rem;
    font-size: 1.7rem;
    border-radius: .4rem;
}

.body-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38.5rem, 1fr));
    height: 100vh;
}
.body-white{
    display: flex;
    align-items: center;
}
.form-container{
    display: block;
    margin: auto;
    width: 100%;
}
.form-container h1{
    font-family: var(--font-primary);
    font-style: italic;
    font-size: 6rem;
}
.login_group{
    margin: 2rem 0;
    font-size: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.login_group i{
    font-size: 2.5rem;
}
.login_group input{
    width: 100%;
    padding: 1.5rem 1rem;
    font-size: 1.7rem;
    color: #000;
}
.login_group input:focus-visible{
    outline: none;
}

.body-dark{
    background-color: var(--bg-dark);
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
    padding-left: 10rem;
    color: #fff;
}
.swiper-slide small{
    font-size: 1.5rem;
    background: #96885F;
    width: max-content;
    font-style: italic;
}