.header {
  width: 100%;
  background-color: #443C59;

  &__container {
    color: #fff;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  &__nav {
    display: flex;
    gap: 1.5rem;
    font-size: 1.1rem;
  }
  &__links {
    position: relative;
    color: #fff;

    &::after {
      content: "";
      position: absolute;
      height: .1rem;
      width: 0;
      left: 0;
      bottom: -.3rem;
      background-color: #fff;
      transition: all .3s ease;
    }
    &:hover {

      &::after {
        width: 80%;
      }
    }
  }
  &__icons {
    display: flex;
    gap: 2rem;
  }
  &__buttons {
    position: relative;
    background-color: transparent;
    padding: .5rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;

    &-count {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 0rem;
      right: 0rem;
      font-size: 1rem;
      font-weight: bold;
      background-color: lighten($color: #443C59, $amount: 40%);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__icon {
    color: #fff;
    transition: color .3s ease;
    cursor: pointer;
  }
  /* Fin Styles Top */

  &__botton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  &__categories {
    flex: 1;
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
  }
  &__search {
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: .3rem 1.5rem;

    &-input {
      width: 100%;
      padding: .5rem 0;
      border: none;
      font-size: 1.1rem;
      outline: none;
      background-color: #fff;
    }
    &-icon {
      font-size: 1.2rem;
      color: #443C59;
    }
  }
  &__orders {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}