h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  font-size: clamp( 2rem, 3rem, 3.5rem );
}
h2 {
  font-size: clamp( 1rem, 2.5rem, 3rem );
}
h3 {
  font-size: clamp( 1rem, 2rem, 2.5rem );
}
h4 {
  font-size: clamp( 1rem, 1.5rem, 2rem );
}
h5 {
  font-size: clamp( .5rem, 1rem, 1.5rem );
}