.dbd__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    padding-top: 5rem;
    gap: 3rem;
}
.dbd__box{
    text-align: center;
    width: 100%;
    background: #D7D6DA;
    color: #000;
    padding: 2.5rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 25, 0.227) 0px 10px 20px, rgba(0, 0, 30, 0.23) 0px 6px 6px;
}
.dbd__box h2{
    font-size: 4.5rem;
}
.dbd__info{
    background: #AEB4BD;
    width: max-content;
    margin: 2rem auto;
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
}
.dbd__box .btn{
    margin: 1rem auto;
    font-weight: bold;
    font-size: 1.8rem;
    background: #222B36;
}