@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@300;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    outline: none;
}

:root{
    --white: #fff;
    --black: #000;
    
    --bg-principal: #fff;
    --bg-secundary: #212133;
    --bg-nav: #10111A;
    --bg-title-table: #000;

    --font-primary: 'Anton', sans-serif;
    --font-secundary: 'Kanit', sans-serif;
}
html{
    font-size: 62.5%;
    height: 100%;
}
body{
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-thumb{
    background: var(--ligth-blue);
    border-radius: 1rem;
}

a{
    color: var(--black-variant);
    text-decoration: none;
}
input{
    width: 100%;
    padding: 1rem;
    border-bottom: solid .1rem var(--black);
    font-size: 1.5rem;
}
img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}
h1,h2,h3,h4{
    font-family: var(--font-secundary);
    font-weight: bold;
}


/* UTILIZABLES */
.text__title{
    text-align: center;
}
.btn{
    width: max-content;
    background: var(--bg-nav);
    color: var(--white);
    padding: 1rem 2rem;
    display: block;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    transition: transform .4s ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}
.btn__asigne{
    color: green;
}
.btn__edit{
    color: blue;
}
.btn__delete{
    color: red;
}
.btn__center{
    margin: 0 auto;
}
.btn__rigth{
    right: 0;
}
.btn-plan{
    margin: 2rem auto;
}


.icon{
    all: unset;
    font-size: 2.3rem;
    border-radius: 1rem;
    color: var(--black);
    padding: .6rem;
    cursor: pointer;
}



.body{
    display: flex;
    height: 100%;
    position: relative;
}


/* Inicio Estilos del ASIDE IZQUIERDO */
.nav__left{
    display: flex;
    flex-direction: column;
}
.nav__container{
    background: var(--bg-nav);
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    box-shadow: 8px 0px 8px 0px rgba(109,106,212,0.63);
    z-index: 1;
    transition: width .4s ease-in-out;
}
.nav__container.active{
    width: 8rem;
}
/* Seccion del HEADER */
.header{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    overflow: hidden;
}
.header__menu{
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
}
.header__logo{
    color: var(--white);
    font-size: 2.5rem;
    text-align: center;
    font-style: italic;
    opacity: 1;
    transition: opacity .6s ease-out;
}
.nav__container.active .header__logo{
    opacity: 0;
}
/* Seccion del NAVEGADOR*/
.nav__menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 5rem;
    transition: padding-left .4s ease-in-out;
}
.nav__container.active .nav__menu{
    padding-left: 1rem;
}
.nav__links{
    position: relative;
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    color: var(--white);
    background: transparent;
    transition: background .4s ease-in-out;
}
.nav__links:hover{
    background: rgba(255, 255, 255, 0.3);
}
.nav__links::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: 100%;
    background: rgba(109,106,212,1);
    opacity: 0;
    transition: opacity .6s ease-in-out;
}
.nav__links:hover::before{
    opacity: 1;
}
.nav__icon{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    min-width: 3.5rem;
}
.nav__links-text{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: .7rem;
    opacity: 1;
    transition: opacity .6s .2s;
}
.nav__container.active .nav__links-text{
    opacity: 0;
    pointer-events: none;
}
/* Fin Estilos del ASIDE IZQUIERDO */



/* Inicio Estilos del Contenido MAIN */
.main__container{
    padding: 2rem 4rem;
    flex: 1;
    overflow-y: scroll;
    background-image: linear-gradient(135deg,var(--bg-principal) 0%, var(--bg-principal) 50%, var(--bg-secundary) 50%, var(--bg-secundary) 100%);
}

/* Estilos Generales del contenido Principal */
.main__title{
    text-align: center;
    font-weight: bold;
    font-size: 2.3rem;
    margin-bottom: 3rem;
    font-size: 3.5rem;
}
/* BOTON NUEVO REGISTRO */
.main__new{
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}
.main__new .btn{
    box-shadow: 0px 0px 4px 5px rgba(109,106,212,.4);
}

.main__subtitle{
    width: max-content;
    border-bottom: solid .25rem var(--bg-nav);
    margin-bottom: 2rem;
    font-size: 2.5rem;
}


/* Estilos para las TABLAS */
.table{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
    background: var(--white);
    border-radius: 1rem;
    padding: 1rem;
    border-spacing: 0;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
.table__head{
    background: var(--bg-title-table);
    color: var(--white);
}
/* Titulos de las TABLAS */
.table__th{
    padding: 1rem;
    text-align: left;
    margin: 1rem;
}
/* Datos de las TABLAS */
.table__td{
    padding: .1rem 1rem;
}
.table__btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.table__tr:nth-child(even){
    background: var(--ligth-grey-variant);
}
/* Fin estilos para las TABLAS */


/* Modales */
.modal{
    position: fixed;
    display: flex;
    background: #111111bd;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}
.modal.active{
    opacity: 1;
    transition: opacity .6s;
    pointer-events: unset;
    --transform:translateY(0);
    --transition: transform .8s .8s;
}
.modal__container{
    margin: auto;
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 95%;
    max-width: 50rem;
    transform: var(--transform);
    transition: var(--transition);
}
.modal__title{
    position: relative;
    font-size: 2rem;
}
#close_modal,
#close-modal{
    position: absolute;
    right: 0;
    top: 0rem;
    color: #d31414;
    font-size: 2.5rem;
}
.user__top{
    border-bottom: .1rem solid rgb(183, 179, 179);
    position: relative;
}
.modal__form{
    padding: 1rem;
}
.modal__input{
    padding-bottom: 1rem;
}
.modal__input .btn{
    margin: auto;
}

/* Crear RUTINAS */
.routines__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
}
.routines__inputs{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.4rem;
    margin-right: 0 auto;
}
.btn-routine{
    margin: 2rem auto 5rem auto;
}

/* Fin de Crear RUTINAS */

/* Crear PLANES */
.plans__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: 1rem;
}
.plans__inputs{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.4rem;
    margin: 0 auto;
}
/* Fin de Crear PLANES */



@media screen and (max-width:1200px){
    html{
        font-size: 50%;
    }

    .nav__container{
        width: 8rem;
    }
    .nav__container.active{
        width: 25rem;
    }
    .header__logo{
        opacity: 0;
    }
    .nav__container.active .header__logo{
        opacity: 1;
    }
    .nav__menu{
        padding-left: 1rem;
    }
    .nav__container.active .nav__menu{
        padding-left: 5rem;
    }
    .nav__links-text{
        opacity: 0;
    }
    .nav__container.active .nav__links-text{
        opacity: 1;
    }
}

@media screen and (max-width:650px){
    html{
        font-size: 40%;
    }
}