/* Tabla de USUARIOS */
.btn__flex.icon{
    display: flex;
    align-items: center;
    gap: .7rem;
}
.text__asigned{
    font-size: 1.5rem;
    color: green;
}
/* Fin TABLA de USUARIOS */


/* Para el REGISTRO USUARIOS */
.user{
    padding: 1.5rem 2rem 3rem;
    background: #f1f1f1;
    width: 70rem;
    margin: auto;
    border-radius: 1rem;
}
.user__form{
    margin: 1.5rem;
    padding: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: .5rem;
}
.user__top{
    border-bottom: .1rem solid rgb(183, 179, 179);
    position: relative;
}
.user__two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.grid{
    padding-bottom: 0rem;
}
.user__inputs{
    display: flex;
    gap: 1rem;
    width: 100%;
}
.user__input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1.5rem;
}
.user__input input{
    border: none;
}
.grid__tree{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.user__btn{
    border: none;
    border-radius: .5rem;
    padding: 1.3rem 1rem;
    display: block;
    width: 100%;
    background-color: var(--bg-nav);
    text-align: center;
    color: #f1f1f1;
    transition: transform .5s ease;
}
.user__btn:hover{
    transform: scale(1.1);
}
/* Fin de REGISTRO USUARIOs */



@media screen and (max-width:1200px){
    .profile__details{
        grid-template-columns: 1fr;
    }
    .profile__view{
        margin: 0;
    }
}
@media screen and (max-width:650px){
    
    .register__profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .register__container{
        flex-direction: column;
    }

    .profile__view{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}