@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #f00;
}

body {
  background: rgb(0, 0, 0);
}

section {
  padding: 5rem 9%;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}
.heading::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: .1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}
.heading span {
  font-size: 3rem;
  color: #f00;
  background: #000;
  padding: .5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: .5rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, #f00 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover {
  transform: scale(1.1);
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
  z-index: 10000;
  background: #000;
}

.header .logo {
  font-weight: bolder;
  color: #f00;
  font-size: 3rem;
}
.header .logo span {
  color: #fff;
}

.header .navbar a {
  display: inline-block;
  padding: .8rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}
.header .navbar a:hover {
  color: #f00;
}

#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
.icons{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.icon-login{
  color: #fff;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.icon-login:hover{
  color: #f00;
}
.fa-right-to-bracket{
  font-size: 2.5rem;
}
.icons span{
  width: 0%;
}




.home {
  padding: 0;
  margin-top: 5rem;
}
.home .slide {
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  position: relative;
}
.home .slide .content {
  width: 60rem;
}
.home .slide .content span {
  font-size: 2rem;
  color: #f00;
  display: block;
}
.home .slide .content h3 {
  font-size: 5rem;
  color: #fff;
  padding: 1rem 0;
}


/* Formulario contact */
.section__contact {
  margin-bottom: 4rem;
  margin-top: 8rem;
}
.form_c {
  width: 100%;
  padding: 3rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  height: 100%;
  border: .2rem dashed red;
}
.form_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 1.5rem 1rem 2.5rem 1rem;
}
.image_c {
  width: 100%;
  border-radius: 1rem;
  margin: auto;
}
.image_c img {
  border-radius: 1.5rem;
}
.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_group {
  position: relative;
  color: #fff;
  padding-bottom: 3rem;
  font-size: 1.5rem;
}
.form_group:nth-child(4) {
  padding-bottom: 0;
}
.form_input {
  width: 100%;
  color: #706c6c;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.4rem;
  margin-right: 0 auto;
  border-radius: 4px;
}
.form_checkbox{
  color: #fff;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
}
.checkbox__text{
  font-size: 1.5rem;
}
.form_submit_c {
  display: block;
  background-color: #f00;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  padding: .8rem 0;
  border: none;
  border-radius: .5em;
  width: 80%;
  max-width: 200px;
  position: relative;
  margin: 0 auto;
}
/* Fin de Contacto */



/* Login */
.login {
  width: 40rem;
  margin: 14rem auto 5rem;
  padding: 2rem 3rem;
  display: block;
  border-radius: 2rem;
  border: .1rem dashed #f00;
}
.login_welcome{
  text-align: center;
  font-size: 2rem;
  color: #fff;
  padding-bottom: 3rem;
}
.login_welcome h1{
  padding-top: 1rem;
}
.fa-circle-user{
  font-size: 13rem;
  color: #fff;
}
.login_form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login_group{
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #fff;
  border-radius: 2rem;
  overflow: hidden;
}
.login_group i{
  font-size: 2rem;
  padding-left: 2rem;
}
.login_submit{
  display: inline;
  background: #f00;
  border-radius: 2rem;
}
/* Fin Login */



.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
  background: #fff;
  border-radius: 0;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f00;
}



.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8rem;
}
.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  position: relative;
}
.about .image::before,
.about .image::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: #f00;
  height: 15rem;
  width: 15rem;
}
.about .image::before {
  top: 0;
  left: 0;
}
.about .image::after {
  bottom: 0;
  right: 0;
}
.about .image img {
  width: 100%;
  padding: 2rem;
  height: 70rem;
}
.about .content {
  flex: 1 1 42rem;
}
.about .content span {
  font-size: 2rem;
  color: #f00;
}
.about .content .title {
  font-size: 4rem;
  color: #fff;
  margin-top: .5rem;
}
.about .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}
.about .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}
.about .content .box-container .box {
  flex: 1 1 20rem;
}
.about .content .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}
.about .content .box-container .box h3 i {
  padding-right: 1.5rem;
  color: #f00;
}



.features .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 0;
}
.features .box-container .box {
  background: #111;
}
.features .box-container .box.second {
  display: flex;
  flex-flow: column-reverse;
}
.features .box-container .box:hover .image img {
  transform: scale(1.1);
}
.features .box-container .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.features .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.features .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.features .box-container .box .content img {
  height: 9rem;
  margin:0 auto 1rem;
  filter: invert(1);
}
.features .box-container .box .content h3 {
  font-size: 2rem;
  color: #f00;
}
.features .box-container .box .content p {
  line-height: 2;
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}



.pricing {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.pricing .information span {
  font-size: 2rem;
  color: #f00;
}
.pricing .information h3 {
  font-size: 4rem;
  padding-top: .5rem;
  color: #fff;
}
.pricing .information p {
  line-height: 2;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
}
.pricing .information p i {
  padding-right: 1rem;
  color: #f00;
}
.pricing .plan {
  text-align: center;
  padding: 2rem;
}
.pricing .plan.basic {
  background: linear-gradient(130deg, #111 93%, transparent 90%);
}
.pricing .plan h3 {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #fff;
}
.pricing .plan .price {
  font-size: 5rem;
  font-weight: bolder;
  color: #f00;
}
.pricing .plan .price span {
  color: #fff;
  font-size: 2rem;
}
.pricing .plan .list {
  padding: 1rem 0;
}
.pricing .plan .list p {
  line-height: 2;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
}
.pricing .plan .list p i {
  padding-right: 1rem;
  color: #f00;
}



.trainers .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}
.trainers .box-container .box {
  height: 40rem;
  overflow: hidden;
  position: relative;
}
.trainers .box-container .box:hover .content {
  transform: translateY(0);
}
.trainers .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.trainers .box-container .box .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  padding: 2rem;
  transform: translateY(6.5rem);
}
.trainers .box-container .box .content span {
  font-size: 1.5rem;
  color: #f00;
}
.trainers .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
  padding-top: .5rem;
}
.trainers .box-container .box .content .share {
  padding-top: 2rem;
  margin-top: 1.5rem;
  border-top: 0.1rem solid #aaa;
}
.trainers .box-container .box .content .share a {
  font-size: 2rem;
  color: #fff;
  margin-right: 1.5rem;
}
.trainers .box-container .box .content .share a:hover {
  color: #f00;
}



.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.banner span {
  font-size: 2rem;
  color: #f00;
}
.banner h3 {
  padding-top: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 3.5rem;
}
.banner p {
  margin: 1rem auto;
  max-width: 60rem;
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
}



.review {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.review .information {
  flex: 1 1 35rem;
}
.review .information span {
  font-size: 2rem;
  color: #f00;
}
.review .information h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 1rem;
}
.review .information p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}
.review .review-slider {
  flex: 1 1 60rem;
}
.review .review-slider .slide {
  background: linear-gradient(130deg, #111 93%, transparent 90%);
  padding: 2rem 3rem;
}
.review .review-slider .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}
.review .review-slider .slide .user {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.review .review-slider .slide .user img {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}
.review .review-slider .slide .user h3 {
  font-size: 2rem;
  color: #fff;
}
.review .review-slider .slide .user span {
  color: #f00;
  font-size: 1.5rem;
}
.review .review-slider .slide .user i {
  font-size: 5rem;
  margin-left: auto;
  margin-right: 2rem;
  color: #f00;
}




.footer .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}
.footer .box-container .box .links {
  font-size: 1.5rem;
  display: block;
  color: #aaa;
  padding: 1rem 0;
}
.footer .box-container .box .links:hover {
  color: #f00;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}
.footer .box-container .box p i {
  padding-right: .5rem;
  color: #f00;
}
.footer .box-container .box .share {
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: #fff;
  background: #111;
  border-radius: 50%;
  margin-right: .5rem;
  text-align: center;
}
.footer .box-container .box .share a:hover {
  background: #f00;
}
.footer .box-container .box form .email {
  margin-bottom: 1rem;
  width: 100%;
  background: #111;
  padding: 1.2rem;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}


.credit {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  color: #fff;
  background: #111;
  line-height: 1.5;
}
.credit span {
  color: #f00;
}


@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding: 7rem;
  }

  .header {
    padding: 0 2rem;
  }

  section {
    padding: 3rem 2rem;
  }

  .home .slide {
    padding: 2rem 5%;
  }

  .home .slide .content {
    width: 50rem;
  }

  .home .slide .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header {
    padding: 2rem;
  }

  .header .navbar {
    background: rgb(20, 18, 18);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8rem;
    left: -30rem;
    right: 0;
    gap: 2rem;
    width: 30rem;
    height: 95vh
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    left: 0;
  }

  .header .navbar a {
    display: block;
    font-size: 2rem;
  }

  .about {
    gap: 3rem;
  }

  .about .image {
    margin-top: 5rem;
  }

  .about .content .title {
    font-size: 3rem;
  }

  .features .box-container .box.second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
