/* Estilos para el PERFIL */
.profile{
    border: solid .2rem var(--black);
    display: flex;
    flex-direction: column;
}
.profile__details{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}
.profile__view{
    display: flex;
    padding: 2rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin: 2rem 2rem 0 2rem;
}
.profile__img{
    width: 25rem;
    height: 25rem;
    background: var(--black);
    border-radius: 1.3rem;
}
.profile__content{
    padding: 2rem;
    display: block;
    width: 100%;
}
.profile__plan{
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    padding: 2rem;
    align-items: center;
}
.profile__plan small{
    padding: 1rem 2rem;
    background: var(--ligth-blue);
    border-radius: .5rem;
    width: 13rem;
    text-align: center;
}
/* Visualizar las notificaciones en el Perfil */
.profile__notification{
    padding: 2rem 2rem 0 2rem;
}
.profile__notification .btn__edit{
    color: #fff;
}
.notification__btn{
    display: flex;
    justify-content: flex-end;
}
.notification__content{
    margin-top: 1rem;
    padding: 2rem;
    border: solid .2rem var(--black);
}
/* Para Visualizar las rutinas en el perfil */
.profile__routines{
    text-align: center;
    border-bottom: solid .2rem var(--black-variant);
    width: max-content;
    margin: 2rem auto 0 auto;
}
.profile__items{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 1rem 2rem;
}
.items__container{
    padding: 1.5rem 1rem;
    text-align: center;
   
}
.items__content{
    border: solid .2rem black;
    padding: 1rem;
}
/* Fin estilos del PERFIL */


/* Editar PERFIL */
.edit{
    border: solid .2rem var(--black);
    margin: 2rem auto;
    width: max-content;
    padding: 1rem 5rem;
}
.edit__title{
    text-align: center;
}

.edit__input{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
.edit__input input:nth-child(3){
    margin-top: 1.5rem;
}
.edit__btn{
    margin: 0 auto;
}